<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.map.DiaryMapper">   <!-- 命名空间，名字可以随意起，只要不冲突即可 -->
    <!-- 对象映射，可以不写 -->
    <!-- 查询功能，resultType 设置返回值类型 -->
    <insert id="insertDiary" useGeneratedKeys="true" keyProperty="id">
        insert into Diary (title,content,fileName,writeTime,username) values (#{title},#{content},#{fileName},#{writeTime},#{username})
    </insert>

    <resultMap id="seeShare" type="com.example.demo.entity.Diary">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="fileName" property="fileName"/>
        <result column="writeTime" property="writeTime"/>
        <result column="username" property="username"/>
    </resultMap>
    <select id="selectShare" resultMap="seeShare">
        SELECT * FROM Diary
    </select>
    <!--查询总记录的条数-->
    <select id="findTotal" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM Diary
    </select>
    <!--分页查询十条-->
    <select id="pageShare" resultMap="seeShare">
        SELECT * FROM Diary limit #{startRow},10
    </select>

    <select id="selectShareByName" resultMap="seeShare">
        SELECT * FROM Diary
        <where>
            <!--where标签自动去掉满足条件的第一个and -->
            <if test="arg0 != null and arg0 != ''">
                and fileName LIKE CONCAT('%',#{arg0 },'%' )
            </if>
            <if test="arg1 != null and arg1 != ''">
                and username = #{arg1}
            </if>
        </where>
    </select>
    
    <delete id="deleteDiary" parameterType="java.lang.Integer">
        delete from diary where id = #{diaryid}
    </delete>
</mapper>